{% extends "layout.html" %}

{% block main %}



<b>Cyrillic:</b><br>
<div class="form-group">
    <form name="languageform" action="/" method="post">
    <select name="language" id="language">
      <?php if($_POST['submitted'] == true){ ?>
        <option value="<?php echo $_POST['language']; ?>" selected="selected"><?php echo $_POST['language']; ?></option>
      <?php }else{ ?>
        <option value=""> -- select -- </option>
      <?php } ?>
        <option value="rus">Russian</option>
        <option value="ukr">Ukrainian/Rusyn</option>
        <option value="bru">Belarusan</option>
        <option value="bul">Bulgarian</option>
        <option value="mac">Macedonian</option>
    </select><br>
    <input type="text" name="cyrillic"><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="submitted" id="submitted" value="true" />
</form>
</div>
<br>
<b>Original:</b><br>
{{ cyrillic }}<br><br>

<b>Transliteration:</b><br>
{{ transliteration }}





{% endblock %}